@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: theme('fontWeight.normal');
  font-size: 16px;
  overflow: hidden auto;
  color: theme('colors.text');
}

@layer base {
  h1 {
    @apply text-5xl;
    font-weight: theme('fontWeight.normal');
  }
  h2 {
    @apply text-4xl;
    font-weight: theme('fontWeight.normal');
  }
  h3 {
    @apply text-3xl;
    font-weight: theme('fontWeight.normal');
  }
  h4 {
    @apply text-2xl;
    font-weight: theme('fontWeight.normal');
  }
  h5 {
    @apply text-xl;
    font-weight: theme('fontWeight.normal');
  }
  h6 {
    @apply text-base;
    font-weight: theme('fontWeight.normal');
  }
}

#rsvp {
  --card-width: min(calc(100vw - 2rem), 768px);
}

.dialog {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog[data-enter] {
  opacity: 1;
  transition-delay: 100ms;
  transition-duration: 200ms;
  transform: scale(1);
}

.dialog[data-leave] {
  transition-duration: 300ms;
}

[data-backdrop] {
  background-color: rgb(0 0 0 / 0.7);
}

[data-backdrop][data-enter] {
  opacity: 1;
  transition-duration: 300ms;
  backdrop-filter: blur(4px);
}

[data-backdrop][data-leave] {
  opacity: 0;
  transition-duration: 300ms;
}
